{% load static %}
<div class="col-lg-3 order-lg-1 order-2">
    <div class="li-blog-sidebar-wrapper">
        <div class="li-blog-sidebar">
            <div class="li-sidebar-search-form pt-xs-30 pt-sm-30">
                <form action="#">
                    <input type="text" class="li-search-field" placeholder="search here">
                    <button type="submit" class="li-search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="li-blog-sidebar pt-25">
            <h4 class="li-blog-sidebar-title">Categories</h4>
            <ul class="li-blog-archive">
                {% for category in categories %}
                <li><a {% if 'blogs/details/' in request.path %}
                    href="{% url 'blogs:list' %}?cat={{category.id}}"
                    {% else %}
                    style="cursor:pointer" onclick="addUrlParameter('cat', {{category.id}})" {% endif%}> {{category}} ({{category.blogs.count}})</a></>
                {% endfor %}
            </ul>
        </div>
        <div class="li-blog-sidebar">
            <h4 class="li-blog-sidebar-title">Blog Archives</h4>
            <ul class="li-blog-archive">
                <li><a href="#">January (10)</a></li>
                <li><a href="#">February (08)</a></li>
                <li><a href="#">March (07)</a></li>
                <li><a href="#">April (14)</a></li>
                <li><a href="#">May (10)</a></li>
                <li><a href="#">June (06)</a></li>
            </ul>
        </div>
        <div class="li-blog-sidebar">
            <h4 class="li-blog-sidebar-title">Recent Post</h4>
            {% for recent_post in recent_posts %}

            <div class="li-recent-post pb-30">
                <div class="li-recent-post-thumb">
                    <a href="{% url 'blogs:details' pk=recent_post.id %}">
                        <img class="img-full" src="{{recent_post.image.url}}"
                             alt="{{recent_post.title}}">
                    </a>
                </div>
                <div class="li-recent-post-des">
                    <span><a href="{% url 'blogs:details' pk=recent_post.id %}">{{recent_post.title}}</a></span>
                    <span class="li-post-date">{{recent_post.created_at|date:"d.m.Y"}}</span>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="li-blog-sidebar">
            <h4 class="li-blog-sidebar-title">Tags</h4>
            <ul class="li-blog-tags">
                {% for tag in tags %}
                <li><a
                        {% if 'blogs/details/' in request.path %}
                    href="{% url 'blogs:list' %}?tag={{tag.id}}"
                    {% else %}
                    style="cursor:pointer" onclick="addUrlParameter('tag', {{tag.id}})" {% endif%}>
                    {{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
